<!DOCTYPE html>

<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>留言墙</title>
    
	<link rel="stylesheet" type="text/css" href="../pub/reset.css"/>
	<link rel="stylesheet" type="text/css" href="./style.css"/>
</head>
<body>

<!-- 页面头部 -->
<!-- @include file="/pub/head/head.jsp" -->

<div class="alert">
    留言墙，又称心灵驿站、心情墙，留下你此时此刻的心情。<br />
    也可留下您曾经对他(她)最想说的话，他(她)可能是您曾经的朋友、曾经的恋人，亦可是当下的朋友、恋人，或者你自己，更或者是暗恋对象<br />
    您可以实名留言、也可以匿名留言。场景可用于毕业留言、心情留言、生活随笔、贺卡、记录您生活的点点滴滴<br />
</div>
<div class="main">
    <div class="center">
        <div class="search clearfix">
            <form action="" method="get">
                <input type="text" />
                <input type="submit" value="搜索" />
            </form>
        </div>
		
		
		<table class="list_table" valign="top">
			<tr>
				<th>MID</th>
				<th>UID</th>
				<th>作者</th>
				<th>对象</th>
				<th>时间</th>
				<th>内容</th>
				<th>详情</th>
			</tr>
			
			<!--  -->
			<tr>
				<td>001</td>
				<td>001</td>
				<td>芒果小洛</td>
				<td>程粥</td>
				<td>2020-09-20</td>
				<td>哈哈哈哈哈哈哈哈</td>
				<td><a href="">详情</a></td>
			</tr>
			<!--  -->
		</table>


    </div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- 右侧 -->
    <div class="tab">

<!-- 右侧索引 -->
        <div class="indexes">
            <a href="" id="back">上一页</a>
            <a href="" id="next">下一页</a>
            <a href="" id="first">首页</a>
            <a href="" id="last">尾页</a>
            <div class="index_info">
                <div>当前页：1</div>
                <div>总页数：1</div>
                <div>总条数：1</div>
            </div>
            <ul class="indexes_ul">
                
          <!-- 索引叶 -->
            </ul>
        </div>

    </div>
</div>
<!-- 页脚 -->
<!-- @include file="/pub/footer/index.jsp" -->
</body>
</html>
