/*input[type="button"] {*/
/*    width: 110px;*/
/*    height: 40px;*/
/*    outline: none;*/
/*    border: none;*/
/*    margin-top: 20px;*/
/*	font-size: 16px;*/
/*	background-color: #FE7300;*/
/*}*/


.nav>span:nth-child(2) {
    background-color: dimgray;
}

#msg{
	line-height: 30px;
}

.message_list {
	font-size: 14px;
	color: #000000;
	float: left;
	width: 70%;
}

.message_list>table {
	/* max-height: 200px; */
	background-color: #E7E1CD;
	width: 100%;
}


.message_list tr:first-child{
	font-size: 16px;
	background-color: #0077AA;
}


.message_list tr {
	text-align: center;
	line-height: 30px;
	border: 1px solid black;
}

.message_list>table td:nth-child(2n) {
	background-color: #dcdcdc;
}

th {
	color: white;
}


/* 分页索引 */
#back,#next {
	margin-top: 10px;
	float: left;
	/* margin-bottom: 10px; */
	/* display: inline-block; */
	font-size: 16px;
	width: 10%;
	line-height: 30px;
	background-color: #0077AA;
	text-align: center;
	color: white;
}

.index_info {
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	background-color: #0077AA;
	padding: 5px;
	color: white;
	margin-top: 10px;
}

.index_info>span{
	margin-left: 20px;
}

.indexes_ul {
	color: #000000;
	font-size: 16px;
}

.indexes_ul>a{
	display: inline-block;
	padding: 5px;
	background-color: #0077AA;
	margin: 5px;
	color: white;
}

/*分页索引，当前页面的索引高亮处理*/
#this_page_index {
	background-color: #FE7300;
}