/* 解决高度塌陷 */
.clearfix::after,
.clearfix::before{
	content: '';
	display: table;
	clear: both;
}


html,body {
	width: 100%;
	height: 100%;
}


body {
	font-size: 0;
}

a{
	text-decoration: none;
}

/*.nav {*/
/*	width: 100%;*/
/*	height: 50px;*/
/*	font-size: 15px;*/
/*	background-color: #0366D6;*/
/*}*/
/*.nav>a{*/
/*	float: right;*/
/*	margin-right: 100px;*/
/*	line-height: 50px;*/
/*	color: white;*/
/*}*/

.alert {
	width: 48%;
	margin: auto;
	margin-top: 20px;
	border-radius: 5px;
	border: 1px solid #bce8f1;
	background-color: #d9edf7;
	color: #31708f;
	line-height: 30px;
	font-size: 14px;
	padding: 10px 30px 0 30px;
	box-sizing: border-box;
}


.panel {
	/* float: left; */
	width: 48%;
	margin: auto;
	margin-top: 20px;
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	/*border: 2px solid #bce8f1;*/
	overflow: hidden;
	box-sizing: border-box;
	background-color: white;
}

/*左边的plane面板设置右边距*/
.l {
	margin-right: 4%;
}

.panel-heading {
	width: 100%;
	height: 38px;
	font-size: 16px;
	line-height: 38px;
	padding-left: 10px;
}

.panel-heading>input {
	/* float: right; */
}

/*每个留言的颜色样式*/
/*style-1*/
.panel-style-1 {
	border-color: #bce8f1;
}
.panel-heading-style-1 {
	background-color: #d9edf7;
	color: #31708f;
}

/*style-2*/
.panel-style-2 {
	border-color: #337ab7;
}
.panel-heading-style-2 {
	background-color: #337ab7;
	color: white;
}
/*style-3*/
.panel-style-3 {
	border-color: #d6e9c6;
}
.panel-heading-style-3 {
	background-color: #dff0d8;
	color: #3c763d;
}

/*style-4*/
.panel-style-4 {
	border-color: #faebcc;
}
.panel-heading-style-4 {
	background-color: #fcf8e3;
	color: #8a6d3b;
}
/*style-5*/
.panel-style-5 {
	border-color: #ebccd1;
}
.panel-heading-style-5 {
	background-color: #f2dede;
	color: #a94442;
}


.panel-body {
	height: 200px;
	font-size: 14px;
	line-height: 1.5;
	padding: 10px;
	box-sizing: border-box;
	overflow: hidden;
}

.panel-foot {
	height: 30px;
	padding-left: 20px;
	padding-right: 20px;
}
.panel-foot>a {
	float: left;
	font-size: 14px;
	line-height: 30px;
}

.panel-foot-info>span:nth-child(1),
.panel-foot-info>span:nth-child(2){
	color: #6A737D;
	font-size: 13px;
	float: left;
	line-height: 30px;
}

.panel-foot-info>span:nth-child(4),
.panel-foot-info>span:nth-child(5){
	color: #6A737D;
	font-size: 13px;
	float: right;
	line-height: 30px;
}

.panel-foot-info>input {
	float: left;
	margin-top: 9px;
}



input[type="text"] {
	font-size: 100%;
	outline: none;
	border: 1px solid #6A737D;
	background-color: initial;
	width: 100px;
}

.panel-body>textarea {
	width: 100%;
	height: 100%;
	resize:none;
	color: #0366D6;
	font-size: 16px
}

.color {
	color: #6A737D;
	font-size: 13px;
	float: left;
	line-height: 30px;
	margin-left: 30px;
}

input#msg {
	display: none;
}