<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<title>注册</title>
		<link rel="stylesheet" type="text/css" href="../../pub/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../login_register.css"/>
		<link rel="stylesheet" type="text/css" href="register.css"/>
		<link rel="icon" href="../../pub/imgs/title_icon/register.svg" sizes="32x32">
	</head>
	<body>
		<div class="welcome">
			<span>欢迎注册</span><br>
			<span>Welcome to register</span>
		</div>
		<div class="main">
			<form class="form" action="http://localhost:8080/MessageWall/register" method="post">
				<div class="tip">电子邮件</div>
				<span class="error_tip"></span>
				<input type="email"/><br />

				<div class="tip">昵称</div>
				<span class="error_tip"></span>
				<input type="text"/><br />

				<div class="tip">密码</div>
				<span class="error_tip"></span>
				<input type="password"><br />

				<div class="tip">确认密码</div>
				<span class="error_tip"></span>
				<input type="password"><br />

				<span class="info_tip">确保电子邮件是合法的；密码的长度在[6,20]之间，包括大小写字母、数字、下划线至少两种；用户名长度在[4,10]之间</span>
				<input type="button" value="Register Now" />
			</form>
			<a class="register" href="../login/">已有账户，立即登陆!</a>
		</div>
	</body>
	<script type="text/javascript" src="../../pub/jquery-3.5.1.js"></script>
	<script type="text/javascript" src="../../pub/utils.js"></script>
	<script type="text/javascript" src="register.js"></script>
	

</html>
