/* 登陆按钮 */
input[type="button"] {
	/* ======================== */
	margin-top: 5px;
}

.error_tip>a {
	text-decoration: none;
	color: #0366d6;
}

input[type="email"],input[type="password"],input[type="text"]{
	margin-bottom: 15px;
}

.info_tip {
	margin-top: 0;
}