<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../pub/reset.css"/>
		<link rel="stylesheet" type="text/css" href="style.css"/>
		<link rel="stylesheet" type="text/css" href="chpwd.css"/>

	</head>
<body>
	
	<div class="main">
		<div class="left">
<!--			<img src="./img/头像.jpg"/>-->
			<div class="nickname">芒果小洛</div>
		</div>
		<div class="userinfo">
			<div class="nav">
				<span>基本信息</span>
				<span>我的留言</span>
				<span>更换头像</span>
				<span>更改密码</span>
			</div>


			<form class="chpwd form" action="/" method="post">
				<span class="tip">原密码</span>
				<span class="error_tip">eeeeeee</span><br />
				<input type="password"/><br />
				
				<span class="tip">新密码</span>
				<span class="error_tip">eeeeee</span><br />
				<input type="password" /><br />
				
				<span class="tip">确认新密码</span>
				<span class="error_tip">eeeeeee</span><br />
				<input type="password" /><br />
				
				<span class="info_tip">确保电子邮件是合法的，并且密码的长度不小于6并且不大于20个字符，包括大写字母、小写字母、数字、下划线至少两种</span>
				<div><input type="button" value="更新" /></div>
				<span id="msg">msg</span>
				
			</form>
		</div>
	</div>
</body>
<script type="text/javascript" src="../../pub/jquery-3.5.1.js"></script>
<script type="text/javascript" src="../../pub/utils.js"></script>
<script type="text/javascript" src="index.js"></script>


<script type="text/javascript" src="chpwd.js"></script>


</html>
