<!DOCTYPE html lang="zh-CN">
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../pub/reset.css"/>
		<link rel="stylesheet" type="text/css" href="style.css"/>
		<link rel="stylesheet" type="text/css" href="../../pub/head/index.css"/>
		<link rel="stylesheet" type="text/css" href="../../pub/footer/index.css"/>
		<link rel="stylesheet" type="text/css" href="messagelist.css"/>
	</head>
<body>

<nav>
	<img src="../../pub/imgs/head/logo_title.png" id="logo" />
	<a href="/MessageWall/messagewall" id="index">
		<img src="../../pub/imgs/head/index.svg" id="index_img" />
		<span id="index_link">主页</span>
	</a>
</nav>
<div id="solvefix"></div>

<div class="main">
	<div class="left">
		<svg class='icon' id='avatar' aria-hidden='true'>
			<use xlink:href='#icon-icon-test17'></use>
		</svg>
		<div class="nickname">芒果小洛</div>
	</div>
	<script src="../../pub/iconfont/iconfont.js"></script>

	<div class="nav">
		<span><a>基本信息</a></span>
		<span><a>我的留言</a></span>
		<span><a>更换头像</a></span>
		<span><a>更改密码</a></span>
	</div>
	<div class="userinfo">
		<form class="message_list" action="" method="post">
			<table valign="top">
				<tr>
					<th>MID</th>
					<th>对象</th>
					<th>主题</th>
					<th>是否匿名</th>
					<th>日期</th>
					<th id="msg_title">内容</th>
					<th>详情</th>
					<th>操作</th>
				</tr>
				<tr>
					<td>001</td>
					<td>我自己</td>
					<td>绿色</td>
					<td>否</td>
					<td>2000-01-10</td>
					<td>哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</td>
					<td><a href="">详情</a></td>
					<td><input type="checkbox" value="001" /></td>
				</tr>
				
			</table>
			<div><input type="button" value="更新" /></div>
			<span id="msg"></span>
		</form>



	</div>
</div>


















<!-- fooder -->
</body>
<script type="text/javascript" src="../../pub/jquery-3.5.1.js"></script>
<script src="../../pub/iconfont/iconfont.js"></script>
<script type="text/javascript" src="messagelist.js"></script>
</html>
