<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>登陆</title>
		<link rel="stylesheet" type="text/css" href="../reset.css"/>
		<link rel="stylesheet" type="text/css" href="../login_register.css"/>
		<link rel="stylesheet" type="text/css" href="login.css"/>
		<link rel="icon" href="../imgs/title_icon/log-in.svg" sizes="32x32">
	</head>
	<body>
		<div class="welcome">
			<span>欢迎登陆</span><br>
			<span>Welcome to login</span>
		</div>
		<div class="main">
			<form class="form" action="http://localhost:8080/MessageWall/login" method="post">
				<div class="tip">电子邮件</div>
				<span class="error_tip"></span>
				<input type="email"/><br />
				<div class="tip">密码</div>
				<span class="error_tip"></span>
				<input type="password" /><br />
				<span class="info_tip">确保电子邮件是合法的，并且密码的长度不小于6并且不大于20个字符，包括大写字母、小写字母、数字、下划线至少两种</span>
				<input type="button" value="Login Now" />
			</form>
			<a class="register" href="../register/">没有账户，立即注册!</a>
		</div>
	</body>
	<script type="text/javascript" src="../jquery-3.5.1.js"></script>
	<script type="text/javascript" src="login.js"></script>
	

</html>
