<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<title>留言墙</title>
		<link rel="stylesheet" type="text/css" href="../../pub/reset.css"/>
		<link rel="stylesheet" type="text/css" href="style.css"/>
	</head>
	<body>
		<div class="nav">
			<a href="#">芒果小洛</a>
			<!-- <a href="../login/">登陆</a> -->
		</div>
		<div class="alert">
			留言墙，又称心灵驿站、心情墙，留下你此时此刻的心情。<br />
			也可留下您曾经对他(她)最想说的话，他(她)可能是您曾经的朋友、曾经的恋人，亦可是当下的朋友、恋人，或者你自己，更或者是暗恋对象<br />
			您可以实名留言、也可以匿名留言。场景可用于毕业留言、心情留言、生活随笔、贺卡、记录您生活的点点滴滴<br />
		</div>
		<div class="main">
			<div class="center">
				<div class="search clearfix">
					<form action="" method="get">
						<input type="text" />
						<input type="submit" value="搜索" />
					</form>
				</div>
				<div class="list">
					<div class="panel">
						<div class="panel-heading">
							<span>mango</span>
						</div>
						<div class="panel-body">其实也挺好的，这段时间，一个人真的不能过的太安逸了。所有的变数都是迟早的。早来一步，对我也没太大影响。我已经被伤害次...
							其实也挺好的，这段时间，一个人真的不能过的太安逸了。所有的变数都是迟早的。早来一步，对我也没太大影响。我已经被伤害次...其实也挺好的，这段时间，一个人真的不能过的太安逸了。所有的变数都是迟早的。早来一步，对我也没太大影响。我已经被伤害次...</div>
						<div class="panel-foot">
							<a href="#"><button>查看</button></a>
							<span class="panel-foot-info">
								<span>2020.01.01</span>
								<span>张嗣龙</span>
							</span>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading">
							<span>mango</span>
						</div>
						<div class="panel-body"></div>
						<div class="panel-foot">
							<a href="#"><button>查看</button></a>
							<span class="panel-foot-info">
								<span>2020.01.01</span>
								<span>张嗣龙</span>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="tab">
				<a href="#"><div class="add">立即留言</div></a>
			</div>
		</div>
	</body>
</html>
