

html,body {
	width: 100%;
	height: 100%;
}


body {
	font-size: 0;
}

.tab {

}

.alert {
	/*height: 110px;*/
	width: 75%;
	margin: auto;
	margin-top: 20px;
	border-radius: 5px;
	border: 1px solid #d6e9c6;
	background-color: #dff0d8;
	color: #6A737D;
	line-height: 30px;
	font-size: 14px;
	padding: 10px 30px;
	box-sizing: border-box;
}


.main {
	width: 75%;
	height: 100%;
	/*background-color: #E1E4E8;*/
	margin: auto;
	margin-top: 20px;
}

.search {
	/* margin: auto; */
	/*background-color: #E1E4E8;*/
	height: 30px;
}
.search>form {
	height: 100%;
}

.search>form>input[type="text"] {
	float: left;
	width: 200px;
	height: 100%;
	border-radius: 5px;
	border: 1px solid #6A737D;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}
.search>form>input[type="submit"] {
	float: left;
	width: 50px;
	height: 100%;
	border: 1px solid #6A737D;
	outline: none;
	box-sizing: border-box;
}

.center {
	display: inline-block;
	width: 75%;
	height: 100%;
	margin-right: 5%;
	/*background-color: #D6E9C6;*/
}

.tab {
	float: right;
	width: 20%;
	height: 100%;
}

.tab>a{
	display: inline-block;
	width: 100%;
	height: 50px;
}

.add {
	width: 100%;
	height: 100%;
	font-size: 20px;
	line-height: 50px;
	background-color: green;
	color: white;
	text-align: center;
}

.list {
}

.panel {
	float: left;
	width: 48%;
	margin-top: 20px;
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	overflow: hidden;
	box-sizing: border-box;
	background-color: white;
}

/*左边的plane面板设置右边距*/
.l {
	margin-right: 4%;
}

.panel-heading {
	width: 100%;
	height: 38px;
	font-size: 16px;
	line-height: 38px;
	padding-left: 10px;
}

/*每个留言的颜色样式*/
/*style-1*/
.panel-style-1 {
	border-color: #bce8f1;
}
.panel-heading-style-1 {
	background-color: #d9edf7;
	color: #31708f;
}

/*style-2*/
.panel-style-2 {
	border-color: #337ab7;
}
.panel-heading-style-2 {
	background-color: #337ab7;
	color: white;
}

/*style-3*/
.panel-style-3 {
	border-color: #d6e9c6;
}
.panel-heading-style-3 {
	background-color: #dff0d8;
	color: #3c763d;
}

/*style-4*/
.panel-style-4 {
	border-color: #faebcc;
}
.panel-heading-style-4 {
	background-color: #fcf8e3;
	color: #8a6d3b;
}
/*style-5*/
.panel-style-5 {
	border-color: #ebccd1;
}
.panel-heading-style-5 {
	background-color: #f2dede;
	color: #a94442;
}






.panel-body {
	height: 120px;
	font-size: 14px;
	line-height: 1.5;
	padding: 10px;
	box-sizing: border-box;
	overflow: hidden;
}

.panel-foot {
	height: 30px;
	padding-left: 20px;
	padding-right: 20px;
}
.panel-foot>a {
	float: left;
	font-size: 14px;
	line-height: 30px;
}
.panel-foot>a>button {
	border-radius: 3px;
	border: 1px solid #6A737D;
	padding: 0 5px 0 5px;
	background-color: initial;
}
.panel-foot>a>button:hover {
	background-color: #E1E4E8;
}

.panel-foot-info>* {
	color: #6A737D;
	font-size: 13px;
	float: right;
	line-height: 30px;
}

.panel-foot-info>span:nth-child(2) {
	margin-right: 10px;
}

