<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>添加留言</title>
	<link rel="stylesheet" type="text/css" href="../../pub/reset.css"/>
	<link rel="stylesheet" type="text/css" href="../../pub/color.css"/>
	<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
	<div class="nav">
		<a href="#">芒果小洛</a>
	</div>
	<div class="alert">
		留下您最想对他(她)说的话。他(她)可能是您曾经的朋友、曾经的恋人，或是您现在的朋友、恋人...
	</div>
	<div class="detInfo">
		<span>作者UID</span><span>001</span><br />
		<span>消息MID</span><span>001</span><br />
		<span>收信对象</span><span>我自己</span><br />
		<span>作者昵称</span><span>芒果小洛</span><br />
		<span>作者主页</span><a href="">芒果小洛</a><br />
		<span>写信时间</span><span>2020-09-09</span>
	</div>
	
	
	<div class="panel panel-style-1" >
		<div class="panel-heading panel-heading-style-1">
			<span>收信人</span>
		</div>
		<div class="panel-body">
			<div>bbUI比你负担vc辛苦面积而是大Vb</div>
		</div>
		<div class="panel-foot">
			<span class="panel-foot-info">
				<span>2020-08-01</span>
				<span class="nickname">芒果小洛</span>
			</span>
		</div>
	</div>
</body>
<script type="text/javascript" src="../../pub/jquery-3.5.1.js"></script>
<script type="text/javascript" src="index.js"></script>
</html>